body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  max-width: 1440px;

  background-image: url(../images/bg-tablet-pattern.svg),
    url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 50%, 60%;
  background-position: right -20% top -10%, left -80% center;
}

/* ============================================ */
/*                     .HEAD                    */
/* ============================================ */
.head {
  width: 100%;
  max-width: 1280px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 1rem;
}

// .head-toggle
.head-toggle {
  display: none;
}

// .head-logo
.head-logo {
  min-width: 146px;
  min-height: 24px;
}

// .head-menu
.head-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    text-decoration: none;
    font-weight: 700;
    color: #222d54;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}

// .head-button
.head-button {
  padding: 0.6rem 2rem;
  background: #f98f75;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 200rem;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

/* ------------------- MAIN ------------------- */
main {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* ============================================ */
/*                     .SEC1                    */
/* ============================================ */
.sec1 {
  width: 100%;
  max-width: 1280px;
  padding: 2rem 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  overflow-x: hidden;

  //   .sec1-text
  .sec1-text {
    width: 50%;

    h1 {
      color: #222d54;
      font-size: clamp(2.5rem, 3vw, 3rem);
      max-width: 15ch;
      line-height: 1.2;
    }

    p {
      padding: 1rem 0;
      max-width: 35ch;
      opacity: 0.7;
    }

    button {
      padding: 0.6rem 2rem;
      background: #f98f75;
      color: white;
      font-weight: 700;
      text-align: center;
      border-radius: 200rem;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  //   .sec1-img
  .sec1-img {
    width: 50%;
    margin-right: -1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

/* ============================================ */
/*                     .SEC2                    */
/* ============================================ */
.sec2 {
  width: 100%;
  max-width: 1280px;
  padding: 2rem 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  //   .sec2-text
  .sec2-text {
    h2 {
      font-size: clamp(2rem, 3vw, 2.5rem);
      color: #222d54;
      line-height: 1.2;
    }

    p {
      margin: 1rem 0;
      opacity: 0.7;
    }
  }

  //   .sec2-table
  .sec2-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .table-block {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      //   1
      .block-numb {
        padding: 0.5rem 1.5rem;
        background: #f3613c;

        color: white;
        font-weight: 700;
        border-radius: 200rem;
      }

      // 2
      .block-text {
        color: #222d54;

        h3 {
          padding: 0.5rem 0;
        }
      }
    }
  }
}

/* ============================================ */
/*                     .SEC3                    */
/* ============================================ */
.sec3 {
  width: 100%;
  padding: 2rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  //   .sec3-title
  .sec3-title {
    font-size: clamp(2.5rem, 3vw, 3rem);
    color: #222d54;
  }

  //   .sec3-table
  .sec3-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    .table-block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 1rem;

      //   1
      .block-img {
        width: 60px;
        height: 60px;
        border-radius: 100rem;
      }

      // 2
      p {
        opacity: 0.7;
      }
    }
  }

  //   .sec3-btn
  .sec3-btn {
    background: #f3613c;
    color: white;

    font-weight: 700;
    text-align: center;
    border-radius: 200rem;
    cursor: pointer;

    font-size: 1rem;
    padding: 0.6rem 2rem;
    margin: 3rem;
    margin-bottom: 5rem;

    &:hover {
      opacity: 0.8;
    }
  }

// .sec3-dot
  .sec3-dot{
    display: none;
  }
}

/* ============================================ */
/*                     .SEC4                    */
/* ============================================ */
.sec4 {
  width: 100%;
  // background: #f3613c;
  padding: 3rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: left -60% top 100%;
  background-color: #f3613c;

  //   .sec4-title
  .sec4-title {
    font-size: clamp(2rem, 3vw, 2.5rem);
    color: white;
    font-weight: 700;

    max-width: 20ch;
    line-height: 1.2;
  }

  //   .sec4-btn
  .sec4-btn {
    padding: 0.6rem 2rem;
    background: white;
    color: black;
    font-weight: 700;
    text-align: center;
    border-radius: 200rem;
    font: size 1rem;
    cursor: pointer;

    &:hover {
      color: #f3613c;
    }
  }
}

/* ============================================ */
/*                     .FOOT                    */
/* ============================================ */
.foot {
  width: 100%;
  padding: 3rem 5rem;

  background: #1e1e26;
}

.foot-wrapper {
  width: 100%;
  max-width: 1280px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  //   .foot-icon
  .foot-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-self: stretch;

    // 1
    .icon-logo {
      min-width: 145px;
      min-height: 24px;
    }

    // 2
    .icon-social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      a:hover > img {
        filter: invert(40%) sepia(59%) saturate(659%) hue-rotate(325deg)
          brightness(108%) contrast(100%);
        cursor: pointer;
        color: #f3613c;
      }
    }
  }

  //   .foot-about
  .foot-about {
    width: 40%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin-right: auto;
    margin-left: 5rem;

    .about {
      align-self: stretch;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 0.5rem;

      a {
        text-decoration: none;
        color: white;
        font-weight: 500;

        &:hover {
          cursor: pointer;
          color: #f3613c;
        }
      }
    }
  }

  //   .foot-email
  .foot-email {
    align-self: stretch;
    margin-left: 1rem;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;

    // .email
    .email {
      width: 100%;
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;

      //   1
      input {
        width: 80%;
        padding: 0.5rem 1rem;
        border-radius: 200rem;
      }

      //   2
      button {
        // min-width: 52px;
        // min-height: 40px;
        padding: 0.5rem 1rem;
        border-radius: 200rem;
        margin-left: 0.4rem;

        &:hover {
          background: #f98f75;
          color: white;
          cursor: pointer;
        }
      }

      //   3
      span {
        position: absolute;
        left: calc(0% + 1rem);
        top: 120%;
        color: red;

        opacity: 0;
        visibility: hidden;
      }

      //   active
      &.active > span {
        opacity: 1;
        visibility: visible;
      }

      &.active > input {
        color: red;
      }
    }

    // .right
    .right {
      color: white;
      opacity: 0.7;
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
}
