@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Overpass', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1440px;
  background-image: url(../images/bg-tablet-pattern.svg), url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 50%, 60%;
  background-position: right -20% top -10%, left -80% center;
}

/* ============================================ */
/*                     .HEAD                    */
/* ============================================ */
.head {
  width: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.head-toggle {
  display: none;
}

.head-logo {
  min-width: 146px;
  min-height: 24px;
}

.head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.head-menu a {
  text-decoration: none;
  font-weight: 700;
  color: #222d54;
  cursor: pointer;
}

.head-menu a:hover {
  opacity: 0.6;
}

.head-button {
  padding: 0.6rem 2rem;
  background: #f98f75;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 200rem;
  font-size: 1rem;
  cursor: pointer;
}

.head-button:hover {
  opacity: 0.8;
}

/* ------------------- MAIN ------------------- */
main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ============================================ */
/*                     .SEC1                    */
/* ============================================ */
.sec1 {
  width: 100%;
  max-width: 1280px;
  padding: 2rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  overflow-x: hidden;
}

.sec1 .sec1-text {
  width: 50%;
}

.sec1 .sec1-text h1 {
  color: #222d54;
  font-size: clamp(2.5rem, 3vw, 3rem);
  max-width: 15ch;
  line-height: 1.2;
}

.sec1 .sec1-text p {
  padding: 1rem 0;
  max-width: 35ch;
  opacity: 0.7;
}

.sec1 .sec1-text button {
  padding: 0.6rem 2rem;
  background: #f98f75;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 200rem;
  font-size: 1rem;
  cursor: pointer;
}

.sec1 .sec1-text button:hover {
  opacity: 0.8;
}

.sec1 .sec1-img {
  width: 50%;
  margin-right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ============================================ */
/*                     .SEC2                    */
/* ============================================ */
.sec2 {
  width: 100%;
  max-width: 1280px;
  padding: 2rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.sec2 .sec2-text h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: #222d54;
  line-height: 1.2;
}

.sec2 .sec2-text p {
  margin: 1rem 0;
  opacity: 0.7;
}

.sec2 .sec2-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.sec2 .sec2-table .table-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.sec2 .sec2-table .table-block .block-numb {
  padding: 0.5rem 1.5rem;
  background: #f3613c;
  color: white;
  font-weight: 700;
  border-radius: 200rem;
}

.sec2 .sec2-table .table-block .block-text {
  color: #222d54;
}

.sec2 .sec2-table .table-block .block-text h3 {
  padding: 0.5rem 0;
}

/* ============================================ */
/*                     .SEC3                    */
/* ============================================ */
.sec3 {
  width: 100%;
  padding: 2rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.sec3 .sec3-title {
  font-size: clamp(2.5rem, 3vw, 3rem);
  color: #222d54;
}

.sec3 .sec3-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.sec3 .sec3-table .table-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.sec3 .sec3-table .table-block .block-img {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
}

.sec3 .sec3-table .table-block p {
  opacity: 0.7;
}

.sec3 .sec3-btn {
  background: #f3613c;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 200rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6rem 2rem;
  margin: 3rem;
  margin-bottom: 5rem;
}

.sec3 .sec3-btn:hover {
  opacity: 0.8;
}

.sec3 .sec3-dot {
  display: none;
}

/* ============================================ */
/*                     .SEC4                    */
/* ============================================ */
.sec4 {
  width: 100%;
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: left -60% top 100%;
  background-color: #f3613c;
}

.sec4 .sec4-title {
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: white;
  font-weight: 700;
  max-width: 20ch;
  line-height: 1.2;
}

.sec4 .sec4-btn {
  padding: 0.6rem 2rem;
  background: white;
  color: black;
  font-weight: 700;
  text-align: center;
  border-radius: 200rem;
  font: size 1rem;
  cursor: pointer;
}

.sec4 .sec4-btn:hover {
  color: #f3613c;
}

/* ============================================ */
/*                     .FOOT                    */
/* ============================================ */
.foot {
  width: 100%;
  padding: 3rem 5rem;
  background: #1e1e26;
}

.foot-wrapper {
  width: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-wrapper .foot-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.foot-wrapper .foot-icon .icon-logo {
  min-width: 145px;
  min-height: 24px;
}

.foot-wrapper .foot-icon .icon-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.foot-wrapper .foot-icon .icon-social a:hover > img {
  -webkit-filter: invert(40%) sepia(59%) saturate(659%) hue-rotate(325deg) brightness(108%) contrast(100%);
          filter: invert(40%) sepia(59%) saturate(659%) hue-rotate(325deg) brightness(108%) contrast(100%);
  cursor: pointer;
  color: #f3613c;
}

.foot-wrapper .foot-about {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-right: auto;
  margin-left: 5rem;
}

.foot-wrapper .foot-about .about {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.foot-wrapper .foot-about .about a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.foot-wrapper .foot-about .about a:hover {
  cursor: pointer;
  color: #f3613c;
}

.foot-wrapper .foot-email {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot-wrapper .foot-email .email {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-wrapper .foot-email .email input {
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 200rem;
}

.foot-wrapper .foot-email .email button {
  padding: 0.5rem 1rem;
  border-radius: 200rem;
  margin-left: 0.4rem;
}

.foot-wrapper .foot-email .email button:hover {
  background: #f98f75;
  color: white;
  cursor: pointer;
}

.foot-wrapper .foot-email .email span {
  position: absolute;
  left: calc(0% + 1rem);
  top: 120%;
  color: red;
  opacity: 0;
  visibility: hidden;
}

.foot-wrapper .foot-email .email.active > span {
  opacity: 1;
  visibility: visible;
}

.foot-wrapper .foot-email .email.active > input {
  color: red;
}

.foot-wrapper .foot-email .right {
  color: white;
  opacity: 0.7;
  font-weight: 500;
  font-size: 0.9rem;
}

@media screen and (max-width: 767.98px) {
  .container {
    background-size: 100%, 60%;
    background-position: right -50% top -5%, left -80% center;
  }
  /* ============================================ */
  /*                     .HEAD                    */
  /* ============================================ */
  .head-toggle {
    display: block;
    z-index: 5;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
  }
  .head-toggle:hover {
    background: rgba(0, 0, 0, 0.147);
  }
  .head-toggle img:nth-of-type(1) {
    display: none;
  }
  .head-button {
    display: none;
  }
  .head-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 10%;
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
    background: white;
    border-radius: 10px;
    z-index: 5;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    -webkit-transition: 0.8s all ease;
    transition: 0.8s all ease;
  }
  .head-menu a:hover {
    color: red;
  }
  /* ------------------ ACTIVE ------------------ */
  .head.active > .head-menu {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .head.active > .head-toggle img:nth-of-type(1) {
    display: block;
  }
  .head.active > .head-toggle img:nth-of-type(2) {
    display: none;
  }
  .head.active::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.42)));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.42));
  }
  /* ============================================ */
  /*                     .SEC1                    */
  /* ============================================ */
  .sec1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .sec1 .sec1-text {
    width: 100%;
  }
  .sec1 .sec1-text h1 {
    max-width: unset;
  }
  .sec1 .sec1-text p {
    max-width: unset;
  }
  .sec1 .sec1-img {
    width: 100%;
    margin-right: 0;
  }
  /* ============================================ */
  /*                     .SEC2                    */
  /* ============================================ */
  .sec2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec2 .sec2-text {
    text-align: center;
    padding: 1rem 2rem;
  }
  .sec2 .sec2-table .table-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .sec2 .sec2-table .table-block .block-numb {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
  }
  .sec2 .sec2-table .table-block .block-text h3 {
    background: #fff0eb;
    margin-left: 5rem;
    padding: 0.35rem 0;
    padding-left: 2rem;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    width: calc(100% - 2.5rem);
  }
  .sec2 .sec2-table .table-block .block-text p {
    padding: 1rem;
  }
  /* ============================================ */
  /*                     .SEC3                    */
  /* ============================================ */
  .sec3 {
    gap: 3rem;
    padding: 2rem 0;
    overflow-x: hidden;
  }
  .sec3 .sec3-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0rem;
    width: 100%;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
  .sec3 .sec3-table .table-block {
    min-width: 100vw;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec3 .sec3-table .table-block p {
    max-width: 40ch;
    padding: 0 1rem;
  }
  .sec3 .sec3-dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.2rem;
    cursor: pointer;
  }
  .sec3 .sec3-dot .dot {
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    border: 1px solid red;
  }
  .sec3 .sec3-dot .dot:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .sec3 .sec3-btn {
    margin: 0rem;
  }
  /* ============================================ */
  /*                     .SEC4                    */
  /* ============================================ */
  .sec4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    text-align: center;
    background-image: url(../images/bg-simplify-section-mobile.svg);
    background-position: left 0% top 0%;
    background-size: contain;
  }
  /* ============================================ */
  /*                     .FOOT                    */
  /* ============================================ */
  .foot {
    padding: 2rem;
    padding-bottom: 7rem;
  }
  .foot-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .foot-wrapper .foot-icon {
    width: 100%;
    margin-top: 3rem;
    gap: 3rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .foot-wrapper .foot-icon .icon-social {
    gap: 2rem;
  }
  .foot-wrapper .foot-icon .icon-social img {
    min-width: 35px;
    min-height: 35px;
  }
  .foot-wrapper .foot-email {
    margin-left: 0rem;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    /* ------------------ ACTIVE ------------------ */
  }
  .foot-wrapper .foot-email .email input {
    width: 100%;
  }
  .foot-wrapper .foot-email .email button {
    padding: 0.5rem 1.5rem;
  }
  .foot-wrapper .foot-email .right {
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
  .foot-wrapper .foot-email .email.active > span {
    opacity: 1;
    visibility: visible;
  }
  .foot-wrapper .foot-about {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: auto;
    margin-top: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 374.98px) {
  .foot-wrapper .foot-icon .icon-social {
    gap: 1rem;
  }
  .foot-wrapper .foot-icon .icon-social img {
    min-width: 30px;
    min-height: 30px;
  }
}
/*# sourceMappingURL=main.css.map */